.admin{
    border: none;
    background-color: #3e71c2;
    color: white;
    width: 130px;
    height: 40px;
}
.filte{
    border: none;
    background-color: black;
    color: white;
    width: 120px;
    height: 40px;
}