
<div class="row bg-white mt-5 mx-3">
    <h4 class="mx-4 my-3">Manager List</h4>
    <div class="ml-auto">
    <button class="admin m-2">Add Manager</button>
    <button class="filte">Filter</button></div>
    <div class="col-md-12 col-lg-12">
        <table class="table table-bordered">
            <tr>
                <th>S.NO</th>
                <th>Name</th>
                <th>Mobile Number</th>
                <th>Email</th>
                <th>Country</th>
                <th>Edit</th>
            </tr>
            <tr>
                <th>1</th>
                <th>Feroz</th>
                <th>1234567890</th>
                <th>Feroz@gmail.com</th>
                <th>Indai</th>
                <th>-----</th>
            </tr>
            <tr>
                <th>2</th>
                <th>Feroz</th>
                <th>1234567890</th>
                <th>Feroz@gmail.com</th>
                <th>Indai</th>
                <th>-----</th>
            </tr>
            <tr>
                <th>3</th>
                <th>Feroz</th>
                <th>1234567890</th>
                <th>Feroz@gmail.com</th>
                <th>Indai</th>
                <th>-----</th>
            </tr>
            <tr>
                <th>4</th>
                <th>Feroz</th>
                <th>1234567890</th>
                <th>Feroz@gmail.com</th>
                <th>Indai</th>
                <th>-----</th>
            </tr>
            <tr>
                <th>5</th>
                <th>Feroz</th>
                <th>1234567890</th>
                <th>Feroz@gmail.com</th>
                <th>Indai</th>
                <th>-----</th>
            </tr>
        </table>
    </div>
</div>

